.header__box__1 {
  font-size: 48px;
  display: flex;
  width: 1520px;
  height: 150px;
  background-color: yellow;
}

.ul_li {
  list-style-type: none;
  display: flex;
  margin-left: 400px;
}

h1 {
  margin-top: 30px;
}
